{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS Files-->
        <link rel="stylesheet" type="text/css" href="{% static 'profilepage/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'profilepage/bootstrapScripts/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
        
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Alif's Page</title>
        {% endif %}
    </head>
        {% block content %}
        {% endblock %}
        <!-- JS  -->
        <script src="{% static 'profilepage/scripts/jquery-3.4.1.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'profilepage/bootstrapScripts/js/bootstrap.min.js' %}"></script>
    </body>
</html>