{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
    <body class="back">
        <div style="margin-top:43px; margin-left: 60px;">
            <a href="{% url 'profile-home' %}">
                <img src="{% static 'profilepage/images/backspace.png' %}">
            </a>
        </div>
        <div>
            <div class="head">
                Contact
            </div>
            <div class="expText" style="width: auto;height: auto; margin-top: 25px;margin-left: 155px; color: #ffffff;">
                Contact me through these platforms.
            </div> <br>
            <div class="conHeads" style="margin-top: 25px;">
                Email
            </div>
            <div class="conText" style="margin-left: 155px; margin-top: 10px;">
                <a style="color: #ffffff;" href="mailto:alifyandra@yahoo.co.uk" target="_blank">
                    alifyandra@gmail.com
                </a>        
            </div>
            <div class="conHeads" style="margin-top: 25px">
                Social<br>
                Media
            </div> <br><br>
            <div class="row" style="margin-left: 150px; margin-top: 10px;">
                <a href="https://www.instagram.com/alifyandra/" target="_blank">
                    <img src="{% static 'profilepage/images/ig.png' %}" style="width: 60px; height: 60px;">
                </a>
                <a href="https://www.linkedin.com/in/ahmad-izzudin-alifyandra-55b4421a1/" target="_blank">
                    <img src="{% static 'profilepage/images/linkedin.png' %}" style="margin-left: 10px; margin-top: 3px; width: 59px; height: 52px;">
                </a>
            </div>
        </div>
        <div class="yellowBox fixed-bottom"></div>
{% endblock content %}