{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
<body class="back">
    <div style="margin-top:43px; margin-left: 60px;">
        <a href="{% url 'profile-friendform' %}">
            <img src="{% static 'profilepage/images/backspace.png' %}">
        </a>
    </div>
    <div class="formTitle">Friendlist</div>
    <div class="friendList" style="margin-left: 80px;width: 600px; margin-top: 20px;">
        <table class="table">
            <thead>
              <tr style="color:#FAC05E;">
                <th scope="col">Name</th>
                <th scope="col">Hobby</th>
                <th scope="col">Favorite FnB</th>
                <th scope="col">Class year</th>
              </tr>
            </thead>
            <tbody>
                {% for f in friend %}
                <tr style="color: white;">
                    <td>{{f.name}}</td>  
                    <td>{{f.hobby}}</td>  
                    <td>{{f.favourite_FnB}}</td>  
                    <td>{{f.class_year.class_name}}</td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="yellowBox fixed-bottom"></div>
{% endblock content %}



