{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
<body class="back">
    <div style="margin-top:43px; margin-left: 60px;">
        <a href="{% url 'profile-home' %}">
            <img src="{% static 'profilepage/images/backspace.png' %}">
        </a>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-4 formTitle">
            Be my friend!
        </div>
    </div>
    <br>
    <div>
        <form method="POST">
            <div class="friendList" style="align-items: center;margin-left: 150px;font-size: 26px;">
                <table>
                    {% csrf_token %}{{ form.as_table }}
                </table>
                <a href="{% url 'profile-friendlist' %}">
                    <button type="submit" class="save" style="padding-top: 7px;margin-left: 200px; 
                    margin-top: 20px; color: white;border: 1px solid rgba(0, 0, 0, 0.3);
                    box-sizing: border-box;
                    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
                    border-radius: 6px; background: #FAC05E;">Save</button>
                </a>
            </div>
        </form>
    </div>    
    <div style="margin-top: 20px; margin-left: -200px;">
        <a href="{% url 'profile-friendlist' %}">
            <button class="bioButton">Friend List</button>
        </a>
    </div>
    <div class="yellowBox fixed-bottom"></div>
{% endblock content %}