{% extends "profilepage/basechild.html" %}
{% block content %}
{% load static %}
    <body class="back">
        <div style="margin-top:43px; margin-left: 60px;">
            <a href="{% url 'profile-home' %}">
                <img src="{% static 'profilepage/images/backspace.png' %}">
            </a>
        </div>
        <div>
            <div class="head">
                Skills
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="skillBox">
                    <br><img src="{% static 'profilepage/images/python.png' %}" style="width: 83px; height: 88px; margin-top: 10px;
                    -webkit-filter: drop-shadow(0px 2px 2px #222222); filter: drop-shadow(0px 2px 2px #222222);"><br>
                    <br><img src="{% static 'profilepage/images/java.png' %}" style="width: 89px; height: 127px; margin-top: 10px;
                    -webkit-filter: drop-shadow(0px 2px 2px #222222); filter: drop-shadow(0px 2px 2px #222222);"><br>
                    <br><img src="{% static 'profilepage/images/html.png' %}" style="width: 92px; height: 97px; margin-top: 10px;
                    -webkit-filter: drop-shadow(0px 2px 2x #222222); filter: drop-shadow(0px 2px 2px #222222);"><br>
                    <br><img src="{% static 'profilepage/images/uk.png' %}" style="width: 144.29px; height: 74px; margin-top: 10px;">
                </div>
                <div class="expText" style="width: 940px; height: 444px; margin-left: 70px;">
                    <br><div style="margin-top: 25px;">
                        Proficient with Python
                    </div>
                    <br><br><div style="margin-top: 20px;">
                        Currently studying Java
                    </div>
                    <br><br><div style="margin-top: 20px;">
                        Familiar with HTML Web Programming
                    </div>
                    <br><br><div>
                        Fluent in English speaking (630 TOEFL ITP Score) 
                    </div>
                </div>
            </div>
        </div>    
        <div class="yellowBox fixed-bottom" style="height: 80px;"></div>
{% endblock content %}